<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>309C8844-3766-4EAD-B5E6-9E756E73B3BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54936607-570E-4B54-8086-04446D21204A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>728C4EFF-4494-45FF-8F5C-FCE3DBB34E68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EAAEB53-7C9E-4F7D-A4FD-5F6614C2BFC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>309C8844-3766-4EAD-B5E6-9E756E73B3BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54936607-570E-4B54-8086-04446D21204A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6AB42BB-F451-469F-B19D-8A0BF2B150BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5F1A1122-DD37-417C-878A-90490CEEEF81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6AB42BB-F451-469F-B19D-8A0BF2B150BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C849EBE8-5714-4E4D-8D9A-FA2975328202</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hernan</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dual monitor resolution</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"6b0c9dea8bcfe6bc576856b153905a6710b6475c.png","title":"Set resolution to 1920 x 1080 (1080p)","arg":"1920 1080 on"},{"imagefile":"6b0c9dea8bcfe6bc576856b153905a6710b6475c.png","title":"Set resolution to 2560 x 1440 (QHD)","arg":"2560 1440 on"},{"imagefile":"6b0c9dea8bcfe6bc576856b153905a6710b6475c.png","title":"Set resolution to 3008 x 1692","arg":"3008 1692 on"},{"imagefile":"6b0c9dea8bcfe6bc576856b153905a6710b6475c.png","title":"Set resolution to 3200 x 1800","arg":"3200 1800 on"},{"imagefile":"6b0c9dea8bcfe6bc576856b153905a6710b6475c.png","title":"Set resolution to 3360 x 1890","arg":"3360 1890 on"},{"imagefile":"6b0c9dea8bcfe6bc576856b153905a6710b6475c.png","title":"Set resolution to 3840 x 2160 (4K)","arg":"3840 2160 off"}]</string>
				<key>keyword</key>
				<string>m</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Set dual monitor resolutions</string>
				<key>title</key>
				<string>Set dual monitor resolutions</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>4EAAEB53-7C9E-4F7D-A4FD-5F6614C2BFC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>width=${split1}
height=${split2}
scaling=${split3}

/opt/homebrew/bin/displayplacer \
"id:${LEFT_MONITOR} \
  res:${width}x${height} scaling:${scaling} origin:(0,0) degree:0" \
"id:${RIGHT_MONITOR} \
  res:${width}x${height} scaling:${scaling} origin:(${split1},0) degree:0" 2&gt;&amp;1


if [ "${PIPESTATUS[0]}" -eq "0" ]; then
  echo "Success! Set resolution to ${split1}x${split2} scaling:${scaling}"
else
  echo ${PIPESTATUS[0]}
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>54936607-570E-4B54-8086-04446D21204A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>2</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>System Light</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>C849EBE8-5714-4E4D-8D9A-FA2975328202</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>309C8844-3766-4EAD-B5E6-9E756E73B3BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>.*Error.*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D6AB42BB-F451-469F-B19D-8A0BF2B150BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split1} '{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>5F1A1122-DD37-417C-878A-90490CEEEF81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split1} '{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>728C4EFF-4494-45FF-8F5C-FCE3DBB34E68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>309C8844-3766-4EAD-B5E6-9E756E73B3BC</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>4EAAEB53-7C9E-4F7D-A4FD-5F6614C2BFC7</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>54936607-570E-4B54-8086-04446D21204A</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>5F1A1122-DD37-417C-878A-90490CEEEF81</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>728C4EFF-4494-45FF-8F5C-FCE3DBB34E68</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>C849EBE8-5714-4E4D-8D9A-FA2975328202</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D6AB42BB-F451-469F-B19D-8A0BF2B150BC</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>LEFT_MONITOR</key>
		<string>6AD41885-B8F8-4C1B-BCE4-977DA444DC81</string>
		<key>RIGHT_MONITOR</key>
		<string>6E2959A6-98DD-4CB3-8DBC-DC61C7439366</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
